.gold{    background:#CCC476;}
.blue{    background:#4E6CC2;}
.orange{    background:#D96936;}
.pink{    background:#EDAAA2;}
.brown{    background:#6C3521;}

#name{
  font-size: 7vw;
  font-weight: bolder;
}

.sbadge{
  width:75px;
  height:auto;
}

.badge-name{
  text-align:center;
}

.crystal{
  background-image:url("./Assets/back.png");
  background-size: 100% 100%;

  height:100vh;
}

@media screen and (min-width: 1024px) {
  #name{
    font-size: 75px;
  }
}