.gold{    background:#CCC476;}
.blue{    background:#4E6CC2;}
.orange{    background:#D96936;}
.pink{    background:#EDAAA2;}
.brown{    background:#6C3521;}

#name{
  font-size: 7vw;
  font-weight: bolder;
  margin-top:22vh;
  padding-left:20px;
  z-index:10;
}

.sbadge{
  width:75px;
  height:auto;
}

.badge-name{
  text-align:center;
}


#intro{
  height:100vh;
  overflow: hidden;
  background:#6989e4;
  background-image:url("./Assets/reflection.png");
  background-size:cover;
}

.crystal-top, .crystal-bottom{
  z-index:1;
  position:absolute;
  width:100%;
  height:20vh;
  background-size: 100% 100%;
}

.crystal-top{
  background-image:url("./Assets/crystalTop.png");
  height:30vh;
  top:0px;
}

.crystal-bottom{
  bottom:0px;
  background-image:url("./Assets/crystalBottom.png");
}

#mirror{
  height:20vh;
}
.flipv{
  transform: scaleY(-1);
}


@media screen and (min-width: 1024px) {
  #name{
    font-size: 75px;
  }
}