.gold{    background:#CCC476;}
.blue{    background:#4E6CC2;}
.orange{    background:#D96936;}
.pink{    background:#EDAAA2;}
.brown{    background:#6C3521;}

/* Pause button for ripple effect */
#pause{
  position:absolute;
  top:10px;
  right:10px;
  z-index:2;
  font-size:20px;
}


/*===================================
|   Skill Badges
=====================================*/

.sbadge{
  width:75px;
  height:75px;
  margin-left:20px;
  margin-right:20px;
}

.badge-name{
  text-align:center;
}

.sub-badge{
  width:30px;
  height:30px;
}

.sub-name{
  font-size:11px;
}


/*===================================
|   Main Intro
=====================================*/

#intro{
  height:100vh;
  overflow: hidden;
  background:#6989e4;
  background-image:url("./Assets/reflection.png");
  background-size:cover;
  background-position: center;
}

.crystal-top, .crystal-bottom, .crystal-nav {
  z-index:1;
  position:absolute;
  width:100%;
  height:20vh;
  background-size: 100% 100%;
}

.crystal-top{
  background-image:url("./Assets/crystalTop.png");
  height:30vh;
  top:0px;
}

.crystal-bottom{
  bottom:0px;
  background-image:url("./Assets/crystalBottom.png");
}

.crystal-nav{
  bottom:0px;
  background-image:url("./Assets/crystal-mirror.png");
}

.flipv{
  height:100%;
  transform: scaleY(-1);
}

#mirror{
  margin-top:-1px;
  height:10vh;
  min-height:60px;
  position:absolute;
}

.mirror-fix{
  position: fixed!important;
  z-index:3;
  top: 0px;
}


#name{
  font-size: 7vw;
  font-weight: bolder;
  margin-top:22vh;
  padding-left:20px;
  z-index:10;
  text-shadow: 0 20px 15px rgba(0,0,0,.7);
}

#logo-shadow{
  margin-top:-120px;
  opacity:40%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.logo{
  width:auto;
  height:150px;
}

/*===================================
|   Nav Bar
=====================================*/

#navbar{
  height:6vh;
  min-height:40px;
  z-index:11;
  position:absolute;
}

.nav-brand{
  margin-left:20px;
  padding:3px;
  height:100%;
  width:auto;
}

.nav-item, .nav-item a{
  font-size:18px;
  font-weight: 1000;
  color:#243053;
  text-shadow:1px 1px 0px #fff, -1px -1px 0px #fff;
  border:1px rgba(0,0,0,0);
  border-radius:10px;
  padding:0px 20px 0px 20px;
}

.active{
  border:1px solid #fff;
  background-color:rgba(255,255,255,.4);
}
.active a{
  color:#5e6c97 !important;
}



/*===================================
|   Breakpoints
=====================================*/
section{
  margin-top:250px;
}



/*===================================
|   Portfolio Cards
=====================================*/
.port-card{
  width:100%;
  height:200px;
  overflow:hidden;
  border:1px solid #D96936;
}

.port-text{
  top:-3.25em;
  left:1.2em;
  background:#D96936;
  border-top:1px solid #CCC476;
  border-bottom:3px solid #6C3521;
  padding:2px 0px;
  padding-left:25px;
  transform: rotate(-20deg);
}



/*===================================
|   Contact Colots
=====================================*/
.fa-icon-only, .fab{
  color:#6C3521;
}
.fa-icon-only:hover{
  color:#924b2f;
  text-shadow:0px 0px 6px #CCC476;
}
.fa-icon-only:active{
  color:#D96936;
}


/*===================================
|   Links
=====================================*/
a {
  color:#D96936;
}
a:hover{
  color:#D96936;
  text-shadow:0px 0px 2px #CCC476;
}
.card-footer a{
  color:#CCC476;
}





.inner{
  margin:auto;
}

/*===================================
|   Special
=====================================*/

@media screen and (min-width: 1024px) {
  #name{
    font-size: 75px;
  }
}